<!doctype html> {% load static %} {% load menu_generator %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============META TAGS BLOCK=========== -->
    {% block metatags %}{% endblock metatags %}

    <title>{% block title %}{% endblock title %}</title>


    <!-- ================TABLER CSS====================== -->
    <link rel="stylesheet" href="{% static 'css/tabler-min.css' %}">


    <!-- ================BOX ICONS CSS=========== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- ==============BOOTSTRAP ICONS================ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- ================CUSTOM TEMPLATE CSS=============== -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- ================CSS STYLE BLOCK=========== -->
    <style>{% block css %}{% endblock css %}</style>
</head>
<body>
<header id="header" class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow py-2">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">TSG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#theStartupNav"
                    aria-controls="theStartupNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="theStartupNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% get_menu "NAV_MENU_LEFT" as left_menu %}
                    {% for item in left_menu %}
                    <li class="nav-item">
                        <a class="nav-link {% if item.selected %} active {% endif %}" aria-current="page" href="{{item.url}}">
                            {{item.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <form class="d-flex text-dark search-box" role="search" method="get" action="{% url 'home:search' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search"
                           id="search">
                    <button class="btn btn-icon" type="submit"><i class='bx bx-search'></i></button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-5" role="alert">
                    {{message | safe}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block body %}

    {% endblock body %}
</main>

<footer id="footer" class="footer bg-dark pb-0">
    <div class="footer-content">
        <div class="container">
            <div class="row g-5 py-3">
                <div class="col-lg-3">
                    <h5 class="footer-heading ">About</h5>
                    <ul class="footer-links list-unstyled ">
                        {% get_menu "FOOTER_LEFT_MENU" as footer_left_menu %}
                        {% for item in footer_left_menu %}
                        <li>
                            <a href="{{item.url}}" class="footer-link">{{item.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <h5 class="footer-heading ">Topics</h5>
                    <ul class="footer-links list-unstyled ">
                        {% for item in topics %}
                        <li>
                            <a href="{% url 'home:tag' item.name %}" class="footer-link">{{item.name | title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <h5 class="footer-heading ">Submit</h5>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#" class="footer-link">Submit News</a></li>
                        <li><a href="#" class="footer-link">Submit Your Startup Story</a></li>
                        <li><a href="#" class="footer-link">Submit Guest Post</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="footer-heading">Recent Articles</h5>

                    <ul class="footer-links footer-blog-entry list-unstyled">
                        {% for item in latest_posts %}
                        <li>
                            <a href="{% url 'home:post' item.slug %}" class="footer-link">
                                {{item.title | truncatewords:10}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-legal py-3">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright">
                        ©2023 thestartupgazette.com All Rights Reserved
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                        <span class="text-light smaller-text ps-2">Connect with </span>
                        <a href="#" class="twitter text-light"><i class='bi bi-twitter'></i></a>
                        <a href="#" class="instagram text-light"><i class='bi bi-instagram'></i></a>
                        <a href="#" class="google-plus text-light"><i class="bi bi-skype"></i></a>
                        <a href="#" class="linkedin text-light"><i class='bi bi-linkedin'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- ===================TABLER JS=================== -->
<script src="{% static 'js/tabler.min.js' %}"></script>

<!-- ================CUSTOM TEMPLATE MAIN JS============= -->
<script src="{% static 'Js/main.js' %}"></script>
</body>

</html>