{% extends './base.html' %} {% load static %}
{% block title %}The Startup Gazette{% endblock title %}
{% block css %}
.slider-link{
text-decoration: underline !important;
color:white;
}
{% endblock css %}
{% block body %}
<div class="container py-5">
    <div id="hero-carousel" class="carousel slide" data-bs-ride="true">

        <div class="carousel-inner">
            {% for item in sliders %}
              <div class="carousel-item active c-item">
                  <img src="{{item.image_url}}" class="d-block w-100 rounded c-img" alt="...">
                  <div class="carousel-caption ">
                      <h3 class="slider-text">
                        <a class="slider-link" href="{{item.link}}" target="_blank">{{item.caption|title}}</a>
                      </h3>
                  </div>
              </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<section class="py-5">
  <div class="container">
    <div class="row mb-2">

      {% for item in featured_post_list %}
      <div class="col-md-6 m-auto mb-5">
        <div class="card featured shadow-sm">
          <div class="card-header ">
            <h2 class="featured-title ">Featured</h2>
          </div>
          <img class="featured-img" src="{{item.image_url}}" class="card-img-top" alt="{{item.title}}">
          <div class="card-body">
            <h3 class="card-title featured-subtitle">
              <a href="{% url 'home:post' item.slug %}">{{item.title|truncatewords:13}}</a>
            </h3>
            <div class="card-text featured-content">{{item.content|truncatewords:20|safe}}</div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="row g-5">
        <div class="col-md-8">
          <article class="blog-post">
            <h1 class="lastest-title mb-4 shadow-sm">Latest</h1>
            {% for item in posts %}
            <div class="latest-group">
              <a href="{% url 'home:post' item.slug %}">
                <h2 class="latest-group-title">{{item.title | title}}</h2>
                <div class="latest-content">
                  {{item.content | truncatewords:25 | safe}}
                </div>
              </a>
              <p><small class="text-primary fw-semibold">News</small>
                <small class="text-muted">{{item.publish_date|date:'d M Y'}}</small></p>
              {% comment %} <small class="text-muted">{{item.publish_date|timesince}}</small></p> {% endcomment %}
            </div>
            <hr>
            {% endfor %}
          </article>
        </div>
        <div class="col-md-4">
          <div class="position-sticky bg-dark rounded shadow-sm" style="top: 2rem;">
            <div class="  ">

              <div class="">
                <a href="{% url 'home:post' last_post.slug %}">
                  <img src="{{last_post.image_url}}" class="card-img-top rounded-top" alt="...">
                  <div class="text-light p-3">
                    <h3 class="tranding-title"><a href="{% url 'home:post' last_post.slug %}"
                                                  class="text-light">
                      {{last_post.title | title |truncatewords:15}}</a></h3>
                    <p><small class="text-muted">{{last_post.publish_date |timesince}} Ago</small>
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="">
              <div class="card  bg-light-dark  mb-3 w-100">
                <div class="card-header">
                  <h3 class="fst-italic text-light text-center tranding-title pt-2">Trending
                    Stories</h3>
                </div>
                <div class="card-body  text-light">
                  <ul class="list-group">
                    {% for item in latestPosts %}
                    <li class="tranding-item">
                      <a href="{% url 'home:post' item.slug %}" class="tranding-link">{{item.title | title |truncatewords:10}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row startup-story gy-3">
      <h1 class="title">Startup Stories</h1>
      {% for item in startup_stories %}
      <div class="col-lg-4 col-md-5 col-sm-11 px-3">
        <div class="card">
          <img src="{{item.image_url}}" class="card-img-top" alt="..."
               style="object-fit: cover !important; aspect-ratio: 16/ 10 !important;">
          <div class="card-body">
            <small class="text-smaller fw-semibold">
              <a href="/tag/startup%20stories" class="smaller-text">STARTUP STORIES</a></small>
            <h3 class="card-title startup-story-subtitle">
              <a href="{% url 'home:post' item.slug %}">{{item.title|truncatewords:8}}</a>
            </h3>
            <div class="startup-story-content">{{item.content | safe | truncatewords:10}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
      <h3 class="startup-story-footer"><a href="/tag/startup%20stories">View More &#62;</a></h3>
    </div>
  </div>
</section>

{% endblock body %}