{% extends 'base.html' %} {% load static %}

{% block metatags %}
{% endblock metatags %}

{% block title %}{{tag}} - The Startup Gazette{% endblock title %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-10 m-auto">
                <p class="text-muted"><small>Home > Topic > {{tag}}</small></p>
            </div>
            {% if posts %}
            {% for item in posts %}
            <div class="col-md-10 m-auto  mb-3">
                <div class="card mb-3 shadow-sm ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{item.image_url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title tag-title"><a href="{% url 'home:post' item.slug %}">{{item.title}}</a>
                                </h2>
                                <div class="card-text">
                                    <div class="tag-content"><a href="{% url 'home:post' item.slug %}">
                                        {{item.content | safe |truncatewords:20}}
                                    </a>
                                    </div>
                                </div>
                                <p class="card-text">
                                    <small class="text-muted">Published: {{item.publish_date | date:'d M Y'}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% elif not posts %}
            <div class="col-12">
                <div class="card border-0">
                    <div class="empty">
                        <div class="empty-img">
                            <img src="{% static 'img/no_search_result.svg' %}" height="128" alt="">
                        </div>
                        <h1 class="empty-title">No post found</h1>
                        <p class="empty-subtitle text-muted">
                            Try adjusting your search topic to find what you're looking for.
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock body %}