{% extends './base.html' %} {% load static %}

<!-- ========Meta Tags and Keywords========== -->
{% block metatags %}
{% endblock metatags %}

{% block title %}About DailyNews{% endblock title %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1>About DailyNews</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla commodi dicta doloremque aperiam ipsum quasi labore dolorem sapiente nisi fuga, saepe cumque praesentium ea aliquam deleniti perferendis? Deleniti, molestias repellendus!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis debitis assumenda at perferendis quam, odit quod enim ipsum ullam aut laboriosam quia animi illo, libero eligendi temporibus veniam neque aperiam.</p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}