{% extends './base.html' %} {% load static %}
{% block title %}All Post of {{category | title }}{% endblock title %}

{% block body %}
<section class="py-5">
<div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
        <p class="text-muted"><small>Home > Category > {{category}}</small></p>
      </div>
        {% for item in posts  %}
          
        <div class="col-md-10 m-auto">
            <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{item.imageURL}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body ">
                      <h2 class="card-title category-title"><a href="{% url 'home:post' item.slug %}">{{item.title}}</a></h2>
                      <div class="card-text">
                        <div class="category-content">
<a href="{% url 'home:post' item.slug %}">
                          {{item.content | safe |truncatewords:20}}
                        </a>
                        </div>
                        </div>
                      <div class="mb-0"><small class="text-muted">Published :  {{item.publish_date | date:'d M Y'}}</small></div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock body %}