{% extends './base.html' %} {% load static %}
{% load crispy_forms_tags %}
{% block metatags %}
{% endblock metatags %}

{% block title %}Contact DailyNews{% endblock title %}

{% block body %}

<section class="py-5 mb-5">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 m-auto">
        <p class="text-muted"><small>Home > Contact</small></p>
      </div>
      <div class="w-100"></div>
      <div class="col-md-6 m-auto">
        <h4 class="text-center">Feel Free to Contact Us</h4>

        <form method="post", action="">
          {% csrf_token %}
          {{ form | crispy }}          

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div> 
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  var x= document.getElementById('id_message').rows='5'
  console.log(x)
</script>

{% endblock body %}