<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyNews</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptatem laboriosam, distinctio odit necessitatibus magni voluptate, sint qui hic laborum nulla officia sapiente. Quam culpa, illum temporibus ducimus voluptatem eveniet!</p>
</body>
</html>