{% extends './base.html' %} {% load static %}

<!-- ======Meta Description and Keywords========== -->
{% block metatags %}
<meta name="description" content="{{post.meta_description}}" />
<meta name="keywords" content="{{post.meta_keyword}}" />
{% endblock metatags %}

<!-- ==========Title Block========= -->
{% block title %}{{post.title}}{% endblock title %}

{% block body %}
<div class="container py-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-8">
            <h5 class="py-2 mb-4">{{post.title}}</h5>
            <img src="{{post.imageURL}}" class="img-fluid" alt="">
            <div class="content">
                {{post.content|safe}}
            </div>
            <small>Published on: {{post.publish_date|date:'d-M-Y'}}</small>
            <p>Tags - {{post.tag.name}}</p>
        </div>
    </div>
</div>
{% endblock body %}